<h1>Nodes</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Catalog timestamp</th>
    <th>Facts timestamp</th>
    <th></th>

  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.name %></td>
    <td><%= node.catalog_timestamp %></td>
    <td><%= node.facts_timestamp %></td>
    <td><%= link_to 'Show', node  %></td>
  </tr>
<% end %>
</table>


